<div class="main-content">

  <div class="search-people">
    <input type="text" placeholder="search for people" #searchPeople>
    <button type="button"(click)="searchBySearchName(searchPeople.value)"> Search</button>
  </div>
    <h2>Star Wars People</h2>

<ul id="myUL" *ngFor="let people of people">
  <li><a>{{people.name}}</a></li>
</ul>

 <div class="search-content">
  <input type="text" placeholder="search for jokes" #searchTerm>
  <button type="button"(click)="searchBySearchTerm(searchTerm.value)" > Search</button>
 </div>

 <div class="categories">
  <span class="category" *ngFor="let category of categories"
  (click)="searchByCategory( category)">{{category}}</span>
 </div>

  <div class="joke-wrapper" *ngFor="let joke of jokes">
  <div class="jokes">
    <img [src]="" alt="icon">
  <p>{{joke.value}}</p>
  </div>
  </div>

</div>